

body {
  background-color: #fdd0b0;
  font-weight: 300;
  font-family: 'Liberation Serif', serif;
  margin: 0;
}

body > header,
body > aside,
body > footer,
div.with-sidebar {
  max-width: 1100px;
  margin: auto;
  padding: 0 .7rem;
}

a, a:visited {
  text-decoration: none;
  color: #333;
}

.content {
  margin-top: 1rem;
}

.content a:visited,
.content a {
  font-weight: 700;
  word-break: break-all;
  text-decoration: underline;
}

.content a:hover {
  color: #d55;
}

.content p a {
  word-break: break-word;
}

a:hover {
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: sans-serif;
  text-align: left;
}

h1 {
  font-size: 3rem;
  margin-bottom: 0;
  margin-top: 0;
}

time {
  font-style: italic;
  color: #333;
}

article {
  margin-top: 3rem;
}

article:first-of-type {
  margin-top: 0;
}

article  {
  text-align: left;
  font-size: 1.1rem;
}

article .content p {
  text-align: justify;
}

article > div.content > p:first-of-type > img {
  margin: 3rem 0;
}

#tags {
  margin: 0;
  padding: 0;
}

#tags li {
  display: inline-block;
  list-style: none;
}

footer {
  text-align: center;
}

img {
  max-width: 100%;
  width: aut0;
}

.with-sidebar {
  overflow: hidden;
}

.with-sidebar > * {
  display: flex;
  flex-wrap: wrap;
  margin: calc(15px / 2 * -1);
}

.with-sidebar > * > * {
  margin: calc(1rem / 2);
  flex-basis: 300px;
  flex-grow: 1;
}

.with-sidebar > * > :first-child {
  flex-basis: 0;
  flex-grow: 999;
  min-width: calc(300px - 1rem);
}
  
.video-container {
  text-align: center;
}

header {
  margin-bottom: 2rem !important;
}

header > #real-header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#fake-border {
  border-bottom: 1px solid #333;
  width: 100%;
}

#title {
  font-size: 1.3rem;
  font-weight: 600;
  margin-right: 1em;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header nav li {
  display: inline-block;
}

header nav li a {
  margin-left: 1em;
}