@font-face {
    font-family: "IBM Plex Sans";
    src: url(../fonts/IBMPlexSans-Light.ttf) format('truetype');
    font-weight: 300;
    font-style: normal;
 }
 
 @font-face {
    font-family: "IBM Plex Sans";
    src: url(../fonts/IBMPlexSans-LightItalic.ttf) format('truetype');
    font-weight: 300;
    font-style: italic;
 }

 @font-face {
    font-family: "IBM Plex Sans";
    src: url(../fonts/IBMPlexSans-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
 }
 
 @font-face {
    font-family: "IBM Plex Sans";
    src: url(../fonts/IBMPlexSans-Italic.ttf) format('truetype');
    font-weight: 400;
    font-style: italic;
 }

 @font-face {
    font-family: "IBM Plex Sans";
    src: url(../fonts/IBMPlexSans-Bold.ttf) format('truetype');
    font-weight: 700;
    font-style: normal;
 }
 
 @font-face {
    font-family: "IBM Plex Sans";
    src: url(../fonts/IBMPlexSans-BoldItalic.ttf) format('truetype');
    font-weight: 700;
    font-style: italic;
 }

:root {
    --primary-color: #D45151;
    --background-color: #f2f2fa;
    --text-color: #333;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: 15px;

    font-family: "IBM Plex Sans", sans-serif;
    display: grid;
    justify-content: center;
    gap: 2rem;
    grid-template-columns: minmax(300px, 800px) minmax(200px, auto);
    grid-template-areas:
      "header  header"
      "content sidebar"
      "footer  footer";

      @media screen and (max-width: 800px) {
        grid-template-columns: 1fr;
        grid-template-areas: "header" "content" "sidebar" "footer";
        padding: 0 1rem;
        justify-content: start;
        gap: 0;
        font-size: 13px;
      }
}

header {
    grid-area: header;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    min-width: 0;
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--text-color);
    padding-bottom: .5rem;

    nav > ul {
        padding-left: 1rem;
        list-style: none;
        display: flex;
        gap: 1rem;

        li {
            display: inline-block;

            a {
                font-size: 1rem;
            }

            a.active {
                text-decoration: underline;
            }
        }

        &::before {
            content: "/";
        }

        @media screen and (max-width: 800px) {
            padding-left: 0;
            margin-block: 0;
            flex-wrap: wrap;

            li a {
                font-size: 13px;
            }

            &::before {
                display: none;
            }
        }
    }
}

main {
    grid-area: content;
    min-width: 0;
    max-width: 800px;
    width: 100%;
    line-height: 23px;


    figure, img {
        max-width: 100%;
    }

    ul.tags {
        list-style: none;
        padding-left: 0;
        margin: 0;

        li {
            display: inline-block;

            a {
                text-decoration: none;
                font-weight: 400;
            }
        }
    }

    .pages-list {
        padding: 0;
    }

    .pages-list li {
        display: flex;
        gap: .5rem;
    }

    .list-tags a {
        font-weight: normal;
        font-size: 13px;
        text-decoration: none;
    }
}

aside {
    grid-area: sidebar;
    max-width: 300px;

    @media screen and (max-width: 800px) {
        max-width: unset;
    }

    ul {
        padding-left: 1rem;
    }

    .section-title {
        font-weight: 700;
        text-transform: uppercase;
    }

    .featured-post {
        margin-bottom: 1.5rem;

        .section-title {
            padding-bottom: .5rem;
        }

        a {
            text-decoration: none;
            font-weight: normal;
        }

        img {
            width: 100%;
            height: auto;
            border-radius: 3px;
        }

        h3 {
            margin: .5rem 0 .25rem;
            font-size: 1rem;
            line-height: 1.3;
        }

        p {
            margin: 0;
            line-height: 1.4;
        }
    }
}

footer {
    grid-area: footer;
}

/* Links */
a {
    color: var(--text-color);
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

main h1 a {
    text-decoration: none;
    &:hover {
        color: var(--text-color)
    }
}

main a {
    text-decoration: underline;
    font-weight: bold;
    &:hover {
        color: var(--primary-color);
    }
}

time {
    display: inline-block;
    font-size: 12px;
    margin: 0 3px;
    padding: 0 3px;
    color: #333;
    background-color: var(--background-color);
}

figure {
    margin: 0;
}

h1 {
    font-size: 3rem;
    line-height: 4rem;
    font-weight: 700;
    margin-top: 0;

    @media screen and (max-width: 800px) {
        font-size: 2rem;
        line-height: 2.5rem;
        margin-bottom: 1rem;
    }
}

code, time {
    border-radius: 3px;
    font-family: "Berkeley Mono", "IBM Plex Mono", monospace;
}

code {
    padding: 0 .2em;
    color: #111;
    background-color: #fff;
}

#title {
    font-size: 1.3rem;
    font-weight: 600;

    @media screen and (max-width: 800px) {
        width: 100%;
        font-size: 1.1rem;
    }
}

.highlight {
    pre {
        padding: 1rem;
        overflow-x: auto;
        font-size: 15px;
    }
    code {
        padding: 0;
        border-radius: unset;
        background-color: unset;
        color: unset;
    }
}