{{ define "main" }}
<main>
	<h1>Blog</h1>
	{{ with .Content }}<div>{{ . }}</div>{{ end }}

	<ul class="pages-list">
	{{ range .Pages }}
		<li>
			<time>{{ time.Format "02/01/2006" .PublishDate }}</time>
			<div>
				{{ if .Params.featured }}<span style="color: #ff4136; font-size: 11px; vertical-align: text-bottom">&#11044;</span> {{ end }}<a href="{{.RelPermalink}}">{{ .Title | safeHTML  }}</a>
				{{ with .Params.tags }}
				<div class="list-tags">{{ range . }}<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">#{{ . }}</a> {{ end }}</div>
				{{ end }}
			</div>
		</li>
	{{ end }}
	</ul>
</main>
<aside>
	{{ partial "sidebar.html" . }}
</aside>
{{ end }}
